.experiencia {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin: 0 auto;
  padding: 40px 20px;
}

.experiencia .subtitulo {
  grid-column: 1 / 2;
  color: #ffcdbd;
  line-height: 1.03em;
  letter-spacing: 0.018em;
}

.exp-geral h2 {
  color: #732D1E;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
}

.empresa {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #FFE9E5;
  border-radius: 6px;
  padding: 20px;
  gap: 10px 20px;
  position: relative;
}

.empresa::before { 
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#db9b8f, #ec5d40);
  position: absolute;
  top:20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #732D1E;    
}

.empresa-titulo {
  grid-column: 1 / 2;
  font-weight: bold;
  color: #732D1E;
  position: relative;
}

.empresa-texto {
  grid-column: 1 / 2;
  color: #732D1E;
  font-size: 0.9em;
  max-width: 45ch;
}

.empresa-texto a {
  color: #853828;
  text-decoration: underline;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  max-width: 330px;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  grid-column: 2 / -1;
  color: #732D1E;
  background: #ffcdbd;
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 3px;
}

.empresa + .empresa {
  margin-top: 20px;
}