h1, h2, h3, p, a, ul, li, span {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 200px;
}

body {
  font-family: 'Fira Sans', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  margin: 40px 40px 72px 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header > div {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header img {
  max-width: 60px;
}

.header-init {
  display: block; 
  justify-items: start;  
  line-height: 1.5em; 
}

.header-init span {
  text-transform: uppercase;
  font-size: 0.625em;
  letter-spacing: 0.10em;
  color: #A34430;
  background: #FFE9E5;
  padding: 4px;
  border-radius: 3px;
}

.header-init p {
  font-size: 0.975em;
  letter-spacing: 0.06em;
  color: #732D1E;
}

.header-menu {
  display: flex;
}

.header-menu li a {
  color: #732D1E;
  font-size: 0.975em;
  letter-spacing: 0.06em;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}

.header-menu li + li {
  margin-left: 45px;
}

.header-menu li a:hover {
  color: #A34430;
  background: #FFE9E5;
  border-radius: 3px;
}

.bio {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 100px;
}

.bio img {
  grid-column: 1 / 2;
  max-width: 300px;
  margin-left: 42px;
}

.bio div {
  grid-column: 2 / -1;
  max-width: 720px;
}

.bio h1 {
  font-size: 3.75em;
  line-height: 1em;
  color: #732D1E;
  margin-bottom: 30px;
}

.bio h2 {
  font-weight: 200;
  font-size: 1.3em;
  color: #732D1E;
  text-align: justify;
  line-height: 1.5em;
  max-width: 60ch;
}